/*
 * Variables
 */
/*
 * Css reset
 */
@import url(normalize-v7.0.0.css);
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';
@import url(select2.min.css);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  background: #ec008c;
  background: -moz-linear-gradient(45deg, #ec008c 0%, #124568 100%);
  background: -webkit-linear-gradient(45deg, #ec008c 0%, #124568 100%);
  background: linear-gradient(45deg, #ec008c 0%, #124568 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$cerise', endColorstr='$chathams-blue',GradientType=1 ); }

button,
input,
select,
textarea {
  font-family: "Roboto", sans-serif; }

/*
 * Fonts
 */
/*
 * font-family: 'Roboto', sans-serif;
 * light   300
 * regular 400
 * bold    700 */
@font-face {
  font-family: 'Minion Pro';
  src: url("../fonts/minionpro-regular.eot");
  src: url("../fonts/minionpro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/minionpro-regular.woff") format("woff"), url("../fonts/minionpro-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*
 * Icons
 */
.ico {
  display: inline-block; }

.ico-exit {
  background: url(../assets/ico-exit.png) no-repeat;
  width: 26px;
  height: 27px; }

.ico-fav {
  background: url(../assets/ico-favourite.png) no-repeat;
  width: 27px;
  height: 23px; }

.ico-visit {
  background: url(../assets/ico-visit.png) no-repeat;
  width: 19px;
  height: 22px; }

.ico-videochat {
  background: url(../assets/ico-videochat.png) no-repeat;
  width: 24px;
  height: 21px; }

.ico-mobile {
  background: url(../assets/ico-mobile.png) no-repeat;
  width: 10px;
  height: 15px; }

.ico-smily {
  background: url(../assets/ico-smily.png) no-repeat;
  width: 18px;
  height: 18px; }

.ico-gift {
  background: url(../assets/ico-gift.png) no-repeat;
  width: 17px;
  height: 18px; }

.ico-arrow-right-blue {
  background: url(../assets/ico-arrow-right-blue.png) no-repeat;
  width: 24px;
  height: 27px; }

.ico-small-chat {
  background: url(../assets/ico-small-chat.png) no-repeat;
  width: 12px;
  height: 13px; }

.ico-exit {
  background: url(../assets/ico-visit.png) no-repeat;
  width: 19px;
  height: 22px; }

/*
 * Common styles
 */
.btn-sm {
  padding: 3px 4px 3px 7px;
  font-size: 14px; }

.btn {
  text-decoration: none;
  background-color: #ec008c;
  color: #fff;
  border: 0;
  cursor: pointer; }

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 5px;
  font-size: 8px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  background-color: #0b3049;
  border-radius: 50px; }

.wrapper {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }

.type-plus {
  background: #ec9000;
  color: #fff; }

.notice {
  padding: 22px 8px 0;
  border: 2px solid #000;
  border-bottom-width: 15px;
  margin: 0 0 37px; }
  .notice p {
    color: #0b3049;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 12px; }

.notice-error {
  border-color: #f00; }

.empty {
  text-align: center; }
  .empty h3 {
    color: #0b3049;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0; }
  .empty p {
    font-size: 12px;
    color: #a2a2a2;
    margin: 0;
    padding: 0; }

.chat-top {
  padding: 0 0 4px;
  margin: 0 0 5px;
  border-bottom: 2px solid #b1b1b1;
  overflow: hidden; }
  .chat-top .chat-stats {
    float: left;
    width: 90px;
    margin: 0 10px 0 0;
    color: #a2a2a2;
    font-size: 10px; }
  .chat-top .chat-online {
    float: left;
    width: 193px;
    color: #a2a2a2;
    font-size: 10px; }
    .chat-top .chat-online span {
      display: block;
      font-size: 16px;
      font-weight: bold; }
  .chat-top .btn-restart {
    float: right;
    font-size: 18px;
    font-weight: bold;
    padding: 4px 0 5px 9px; }
    .chat-top .btn-restart .ico {
      margin-left: 12px; }
  .chat-top .chat-profiles {
    float: left;
    width: 457px;
    overflow: hidden; }
    .chat-top .chat-profiles .name {
      font-size: 10px;
      font-weight: bold;
      color: #242021;
      margin: 8px 0 2px; }
    .chat-top .chat-profiles .chat-profile-left {
      float: left; }
      .chat-top .chat-profiles .chat-profile-left img {
        float: left;
        display: block;
        margin: 0 8px 0 0; }
      .chat-top .chat-profiles .chat-profile-left .chat-profile-status {
        float: left; }
    .chat-top .chat-profiles .chat-profile-right img {
      float: right;
      display: block;
      margin: 0 0 0 8px; }
    .chat-top .chat-profiles .chat-profile-right .chat-profile-status {
      float: right; }
      .chat-top .chat-profiles .chat-profile-right .chat-profile-status .status {
        float: right; }

.members-search .btn-search,
.members-search .btn-toggle {
  font-size: 14px;
  padding: 4px 10px 5px;
  border-radius: 4px; }

.status {
  width: 6px;
  height: 6px;
  border-radius: 50px; }

.status-online {
  background: #00e631; }

.ico-arrow-down {
  border-color: #fff transparent transparent;
  border-width: 10px 6px 0;
  border-style: solid; }

.ico-arrow-right {
  border-color: transparent transparent transparent #fff;
  border-width: 4px 7px;
  border-style: solid; }

.ico-arrow-right-big {
  border-color: transparent transparent transparent #fff;
  border-width: 10px 18px 11px;
  border-style: solid; }

.ico-arrow-right-middle {
  border-color: transparent transparent transparent #fff;
  border-width: 6px 12px 7px;
  border-style: solid; }

/*
 * Header
 */
.header {
  border-top: 15px solid #0b3049;
  overflow: hidden; }
  .header .brand {
    padding: 8px 45px 5px 14px;
    display: block;
    float: left;
    background-color: #0b3049; }
  .header .top-bar-left {
    float: left;
    position: relative;
    z-index: 20;
    margin: 0 0 0 -12px;
    padding: 0 0 0 7px;
    background: #ec008c; }
    .header .top-bar-left .language {
      display: block;
      float: left;
      margin: 5px 0 0;
      padding: 0;
      list-style: none; }
      .header .top-bar-left .language li {
        display: block;
        padding: 0;
        margin: 0; }
        .header .top-bar-left .language li a {
          display: block;
          text-decoration: none; }
          .header .top-bar-left .language li a .ico-us {
            background: url(../assets/ico-flag-us.png) no-repeat;
            text-indent: -999em;
            width: 35px;
            height: 18px; }
          .header .top-bar-left .language li a .ico-arrow-down {
            float: right;
            margin: 6px 0 0 9px; }
        .header .top-bar-left .language li .dropdown {
          display: none; }
    .header .top-bar-left .user-search {
      float: left;
      display: block;
      margin: 5px 15px 5px 32px;
      border-left: 2px solid #640d45;
      padding: 0 0 0 15px; }
      .header .top-bar-left .user-search input {
        font-size: 12px;
        font-weight: 300;
        background: #fff url(../assets/ico-magnify.png) no-repeat 11px 3px;
        border: 0;
        padding: 6px 8px 5px 33px;
        width: 165px;
        height: 20px; }
    .header .top-bar-left .users {
      float: left;
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      background-color: #710043;
      min-height: 30px;
      padding: 8px 12px 3px 0;
      line-height: 10px; }
      .header .top-bar-left .users .count {
        font-size: 10px;
        line-height: 1;
        font-weight: normal; }
      .header .top-bar-left .users .online {
        float: left;
        display: block;
        margin: 0 7px 0 9px;
        width: 14px;
        height: 14px;
        border-radius: 50px;
        background: #00ec3d;
        border: 3px solid #007123; }
  .header .membership {
    float: right;
    margin: 0 32px 0 0; }
    .header .membership .type {
      float: left;
      font-size: 20px;
      padding: 4px 6px 3px 7px; }
    .header .membership .pic {
      float: left; }
    .header .membership .details {
      float: left;
      margin: 5px 12px 0;
      color: #fff; }
      .header .membership .details .name {
        font-size: 16px;
        font-weight: bold; }
      .header .membership .details .location {
        font-size: 8px; }
  .header .btn-logout {
    float: right;
    font-weight: bold;
    padding-right: 0; }
    .header .btn-logout .ico {
      margin-left: 4px; }

/*
 * Navigation
 */
.navigation {
  margin: 32px 0 12px; }
  .navigation .wrapper {
    border-bottom: 4px solid #ec008c;
    overflow: hidden;
    padding: 0; }
  .navigation .nav {
    margin: 0;
    padding: 0;
    list-style: none; }
    .navigation .nav li {
      padding: 11px 0 0;
      margin: 0 20px 0 0;
      display: block;
      float: left; }
      .navigation .nav li:last-child {
        margin-right: 0; }
      .navigation .nav li a {
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        color: #fff; }
        .navigation .nav li a .badge {
          position: relative;
          top: -9px;
          left: 13px; }
  .navigation .unlock {
    float: right;
    font-size: 14px;
    color: #fff;
    margin: 0 7px 0 0; }
  .navigation .member-level {
    float: right;
    padding: 0 15px 0 0; }

/*
 * Content
 */
.content .content-top {
  width: 1170px;
  margin: 0 auto;
  overflow: hidden; }
  .content .content-top .ico {
    display: block;
    float: right;
    text-indent: -999em; }

.content .wrapper {
  background-color: #fff;
  padding-top: 46px;
  padding-bottom: 37px; }

.footer {
  background-color: #0b3049;
  padding: 20px 0 9px;
  margin-top: 72px; }
  .footer p {
    font-size: 16px;
    color: #fff; }

/*
 * Select styles
 */
.select2-container--default .select2-selection--single {
  border: 1px solid #ebebeb;
  border-radius: 0;
  height: 25px; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    background: #ec008c;
    width: 28px;
    height: 25px;
    top: 0;
    right: 0; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      border-color: #fff transparent transparent;
      border-width: 10px 6px 0;
      border-style: solid;
      margin-left: -6px;
      margin-top: -5px; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 23px;
    color: #8d8d8d;
    font-weight: 300;
    padding: 0 41px 0 13px;
    font-size: 14px; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #fff;
  border-width: 0 6px 10px; }

.select2-results__option {
  font-size: 14px;
  line-height: 23px;
  color: #8d8d8d;
  font-weight: 300;
  padding: 6px 13px; }

/*
 * Dashboard 03
 */
.chat-left-container {
  width: 100%;
  overflow: hidden; }

.chat-options {
  overflow: hidden;
  width: 100%;
  border: 2px solid #f00;
  border-bottom-width: 15px;
  margin: 9px 0 13px;
  padding: 8px 24px 6px 32px; }
  .chat-options .form-group {
    float: left; }
    .chat-options .form-group label {
      color: #8d8d8d;
      font-size: 14px;
      font-weight: bold;
      padding: 0 3px 0 0; }
  .chat-options .option {
    color: #8d8d8d;
    font-size: 14px;
    display: block;
    float: left;
    text-decoration: none;
    margin: 0 40px 0 32px;
    line-height: 24px;
    vertical-align: middle; }
    .chat-options .option:last-child {
      margin-right: 0; }
    .chat-options .option:hover {
      text-decoration: underline; }
    .chat-options .option .ico {
      margin: 0 0 0 2px;
      line-height: 24px;
      vertical-align: top; }

.chat-section .chat-options .select2-container {
  width: 165px !important; }

.chat-bottom-stats .item {
  float: left;
  margin: 0 29px 0 0;
  font-size: 14px;
  color: #686868; }
  .chat-bottom-stats .item:last-child {
    margin-right: 0; }
  .chat-bottom-stats .item span {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #0b3049; }

.chat-users-container {
  float: left;
  width: 263px; }

.chat-users {
  background: #f1f1f1;
  padding: 8px 0 9px;
  margin: 0 0 2px; }
  .chat-users .chat-user-block {
    width: 239px;
    overflow: hidden;
    padding: 0 0 4px;
    margin: 0 18px 7px 6px;
    border-bottom: 1px solid #ababab; }
    .chat-users .chat-user-block .chat-user-left {
      float: left; }
      .chat-users .chat-user-block .chat-user-left img {
        float: left;
        margin: 0 6px 0 0; }
      .chat-users .chat-user-block .chat-user-left .user-details {
        float: left; }
    .chat-users .chat-user-block .chat-user-right {
      float: right; }
      .chat-users .chat-user-block .chat-user-right img {
        float: right;
        display: block;
        margin: 0 0 0 6px; }
      .chat-users .chat-user-block .chat-user-right .user-details {
        float: right;
        text-align: right; }
    .chat-users .chat-user-block .user-detail .username {
      color: #242021;
      font-size: 10px;
      font-weight: bold; }
    .chat-users .chat-user-block .user-detail .type {
      display: inline-block;
      font-size: 8px;
      padding: 1px 3px;
      vertical-align: middle; }
    .chat-users .chat-user-block .user-status {
      font-size: 10px;
      font-weight: bold;
      color: #969696; }
      .chat-users .chat-user-block .user-status .status {
        display: inline-block; }

.chat-messages-inner {
  position: relative;
  z-index: 1;
  float: left;
  width: 457px;
  min-height: 442px; }
  .chat-messages-inner .timestamp {
    font-size: 12px;
    color: #d9d9d9;
    text-align: center;
    margin: 38px 0 7px; }
    .chat-messages-inner .timestamp:first-child {
      margin-top: 0; }
  .chat-messages-inner .message {
    color: #242021;
    font-size: 14px;
    margin: 1px 0 3px;
    line-height: 19px;
    padding: 4px 11px 5px 13px;
    position: relative;
    z-index: 2; }
  .chat-messages-inner .message-left {
    background: #d9d9d9;
    margin-left: 42px;
    display: inline-block;
    float: left;
    clear:both;
  }
    .chat-messages-inner .message-left:before {
      position: absolute;
      z-index: 3;
      border-bottom: 6px solid #d9d9d9;
      border-left: 5px solid transparent;
      content: "";
      left: -5px;
      bottom: 0; }
  .chat-messages-inner .message-right {
    background: #a2daff;
    display: inline-block;
    margin-right: 42px;
    float: right;
    clear: both;
  }
    .chat-messages-inner .message-right:before {
      position: absolute;
      z-index: 3;
      width: 5px;
      height: 6px;
      border-bottom: 6px solid #a2daff;
      border-right: 5px solid transparent;
      content: "";
      right: -5px;
      bottom: 0; }
  .chat-messages-inner .profile-pic-left {
    display: block;
    position: absolute;
    left: 0;
    margin-top: 1px;
    z-index: 2; }
  .chat-messages-inner .profile-pic-right {
    display: block;
    position: absolute;
    margin-top: 1px;
    right: 0;
    z-index: 2; }

.chat-message-send {
  float: left;
  width: 100%;
  border-top: 2px solid #ababab;
  padding: 9px 0 7px;
  border-bottom: 2px solid #ec008c; }
  .chat-message-send #message {
    float: left;
    padding: 8px 10px 9px;
    border: 0;
    color: #d9d9d9;
    font-size: 14px;
    width: 326px; }
  .chat-message-send .send-message {
    border: 0;
    background: transparent;
    color: #0b3049;
    font-size: 10px;
    font-weight: bold;
    line-height: 28px;
    vertical-align: middle;
    margin: 0 0 0 17px;
    padding: 0;
    cursor: pointer; }
    .chat-message-send .send-message .ico {
      vertical-align: middle; }
  .chat-message-send .ico-smily,
  .chat-message-send .ico-gift {
    vertical-align: middle;
    margin: 0 0 0 8px; }

/*
 * Online members
 */
.nav-inner {
  border-bottom: 2px solid #ec008c;
  padding: 0 0 9px;
  margin: 0 0 34px; }
  .nav-inner ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden; }
    .nav-inner ul li {
      padding: 0;
      margin: 0 23px 0 0;
      display: block;
      float: left; }
      .nav-inner ul li:last-child {
        margin-right: 0; }
      .nav-inner ul li.active a {
        text-decoration: underline; }
      .nav-inner ul li a {
        display: block;
        color: #0b3049;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none; }
        .nav-inner ul li a:hover {
          text-decoration: underline; }

.chat-section {
  width: 100%;
  overflow: hidden;
  padding: 0 0 32px;
  border-bottom: 2px solid #ec008c; }
  .chat-section .chat-wide {
    width: 100%;
    overflow: hidden; }
    .chat-section .chat-wide .chat-user-side {
      float: left;
      overflow: hidden;
      padding: 0 0 4px;
      margin: 0 22px 16px 0; }
      .chat-section .chat-wide .chat-user-side img {
        float: left;
        margin: 0 6px 0 0; }
      .chat-section .chat-wide .chat-user-side .user-details {
        float: left; }
    .chat-section .chat-wide .user-detail {
      line-height: 12px; }
      .chat-section .chat-wide .user-detail .username {
        color: #242021;
        font-size: 12px;
        font-weight: bold;
        vertical-align: top; }
      .chat-section .chat-wide .user-detail .type {
        display: inline-block;
        font-size: 8px;
        padding: 1px 3px;
        vertical-align: top; }
      .chat-section .chat-wide .user-detail .type-vip {
        color: #fff;
        background-color: #271708; }
      .chat-section .chat-wide .user-detail .type-premium {
        color: #fff;
        background-color: #63320a; }
      .chat-section .chat-wide .user-detail .btn {
        display: inline-block;
        font-size: 9px;
        padding: 0 4px;
        vertical-align: top;
        border-radius: 4px;
        border: 1px solid #770048; }
      .chat-section .chat-wide .user-detail .online {
        color: #fff;
        background-color: #ff1015;
        border: 1px solid #c30e15;
        font-size: 8px;
        padding: 1px 3px;
        display: inline-block;
        vertical-align: top;
        border-radius: 10px;
        margin-left: 10px; }
    .chat-section .chat-wide .user-status {
      font-size: 8px;
      color: #969696; }
      .chat-section .chat-wide .user-status .status {
        display: inline-block; }
  .chat-section .note {
    font-style: italic;
    color: #969696;
    font-size: 12px;
    margin: 0;
    padding: 0; }

.hidden {
  display: none !important; }

.chat-navigation {
  text-align: center;
  font-size: 12px;
  font-weight: bold; }

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0 0;
  border-radius: 4px; }
  .pagination > li {
    display: inline; }
    .pagination > li > a,
    .pagination > li > span {
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      line-height: normal;
      color: #0b3049;
      text-decoration: none;
      background-color: #fff;
      border: 1px solid #ddd;
      vertical-align: middle; }
    .pagination > li > a:hover {
      text-decoration: underline; }
  .pagination > li:first-child > a,
  .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }
  .pagination > li:last-child > a,
  .pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; }

.members-search {
  margin: 0 0 30px; }
  .members-search form {
    display: block;
    border-bottom: 1px solid #ababab;
    overflow: hidden;
    width: 870px;
    padding: 0 0 15px;
    margin: 0 0 20px; }
  .members-search .toggle-members {
    display: inline-block; }
  .members-search .btn-search {
    margin-top: 19px; }
  .members-search select {
    color: #8d8d8d;
    font-weight: 300;
    font-size: 14px;
    padding: 2px 8px;
    min-width: 90px; }
  .members-search #profile-name {
    border: 1px solid #ebebeb;
    color: #8d8d8d;
    line-height: 23px;
    font-weight: 300;
    font-size: 14px;
    padding: 0 41px 0 13px;
    width: 210px; }
  .members-search .profiles {
    float: left;
    width: 120px;
    margin: 0 20px 0 0; }
    .members-search .profiles .label {
      font-size: 12px;
      font-weight: bold;
      color: #0b3049;
      margin: 0 0 6px; }
    .members-search .profiles label {
      display: block;
      font-size: 10px;
      color: #0b3049;
      font-weight: 300;
      margin: 0 0 5px; }
      .members-search .profiles label input {
        margin: 0 3px 0 0;
        width: 12px;
        vertical-align: middle; }
  .members-search .members-right {
    float: left; }
    .members-search .members-right label {
      font-size: 12px;
      font-weight: bold;
      color: #0b3049;
      display: block;
      margin: 0 0 6px; }
    .members-search .members-right .members-top {
      width: 100%;
      overflow: hidden;
      margin: 0 0 10px; }
    .members-search .members-right .members-bottom {
      width: 100%;
      overflow: hidden; }
    .members-search .members-right .form-group {
      float: left;
      margin: 0 30px 0 0; }

/*
 * Fakes
 */
.nav-inner-bottom {
  margin-top: 20px;
  font-style: italic; }
  .nav-inner-bottom .join-as-fake {
    font-size: 14px;
    padding-top: 4px; }
    .nav-inner-bottom .join-as-fake a {
      font-weight: normal;
      font-size: 14px; }
  .nav-inner-bottom .type {
    display: inline-block;
    font-size: 8px;
    padding: 1px 3px;
    vertical-align: top;
    font-style: normal;
    margin-left: 6px; }
  .nav-inner-bottom .type-vip {
    color: #fff;
    background-color: #271708; }
  .nav-inner-bottom .type-premium {
    color: #fff;
    background-color: #63320a; }
  .nav-inner-bottom .ico-exit {
    margin-left: 6px; }

.chat-container-bottom {
  width: 100%;
  overflow: hidden; }
  .chat-container-bottom .chat-messages {
    float: left;
    width: 210px;
    margin: 0 0 0 18px;
    border-top: 8px solid #ec008c; }
    .chat-container-bottom .chat-messages:first-child {
      margin-left: 0; }
    .chat-container-bottom .chat-messages .empty {
      padding: 101px 0 0;
      border-bottom: 2px solid #ec008c;
      min-height: 600px; }
    .chat-container-bottom .chat-messages .chat-messages-top {
      background: #ec008c;
      border-bottom: 8px solid #ec008c;
      width: 100%;
      padding: 0 16px;
      color: #fff;
      font-size: 14px; }
      .chat-container-bottom .chat-messages .chat-messages-top .ico {
        vertical-align: middle;
        margin: 0 8px; }
      .chat-container-bottom .chat-messages .chat-messages-top .ico-last {
        margin-right: 0; }
    .chat-container-bottom .chat-messages .chat-messages-inner {
      width: 210px;
      min-height: 230px;
          max-height: 300px;
    overflow-y: scroll;
      border-left: 1px solid #ababab;
      border-right: 1px solid #ababab; }
      .chat-container-bottom .chat-messages .chat-messages-inner .timestamp {
        margin: 17px 0 7px; }
      .chat-container-bottom .chat-messages .chat-messages-inner .message:last-child {
        margin-bottom: 0; }
  .chat-container-bottom .chat-message-send .message {
    float: left;
    padding: 8px 10px 9px;
    border: 0;
    color: #d9d9d9;
    font-size: 14px;
    width: 130px; }
